<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187790935992-vq9p4mb7op7av8mp9o8qt2dgvl8pj5h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187790935992-vq9p4mb7op7av8mp9o8qt2dgvl8pj5h3</string>
	<key>API_KEY</key>
	<string>AIzaSyBRF3WQQX3NEVZClx1ZECGl1GmNtRaClB4</string>
	<key>GCM_SENDER_ID</key>
	<string>187790935992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Brick-Squad.Gala</string>
	<key>PROJECT_ID</key>
	<string>gala-e23aa</string>
	<key>STORAGE_BUCKET</key>
	<string>gala-e23aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187790935992:ios:b1b537569fbf287045f14d</string>
</dict>
</plist>